
<link href="style/style.css" rel="stylesheet" type="text/css">
<footer id="footer">
<div id="fat-footer" class="container">
     <hr>
	 <ul id="legal" class="main-footer-legal">
   <li class="main-footer-legal-item"><a class="main-footer-legal-link" rel="nofollow"><a href="about.php"><p style="color:white">About Us</p></li></a>
  </ul>
</hr>
    </div>
</footer>

	
	
	
	
	