@charset "utf-8";
/* CSS Document */
body,ol,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{background-color:none; list-style:none; margin:0; padding:0;}
body { font-family:Roboto,sans-serif; font-weight:300;}
a{display:block; text-decoration:none;}
a:hover{text-decoration:none;}
img{border:none; vertical-align:middle;}
.clear{overflow:hidden; display:block; height:0; font-size:0; line-height:0; clear:both;}
.fl{float:left;width:100%;}
.fr{float:right;width:100%;}


.container{
	        width:100%;
			margin:0 auto; 

			
			
	       }

h2{
	text-align:left;
	display: block;
    margin-top: 0.83em;

    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}

.img{
	   width:150px;
	   border-right:0px solid #333;
	   height:85px;
	   margin-left:0%;
		 }
.navbar-default{
	background:#F5F2E4;

}

.navbar-default ul li a{
 font-size:1.5em;

}
.navbar-default ul li:hover { background:white; 
	
}
.navbar-default ul li a:hover { color:red; }

.content{  width:100%;
           margin:0 auto;
		   margin-top:30px;
            margin-right:10px;
}
			
.content1{ width:100%;
           margin:0 auto;
		   margin-top:30px;
		   margin-right:10px;
		   
		   
		   
		   }
.content1 h3{ 
              font: blone 14px Arial;
			  text-align:left;
			  margin-left: 0px;
			  }
.content1 table{
	             width:100%;
				 float:left;
				 border-bottom:1px solid #999;
				 border-right:1px solid #999;
				 border-left:none;
				 border-top:none;
				 margin-top:10px;
				 background-color: rgb(245, 242, 228);
				 }
.content1 table td{
	             width:200px;
				 text-align:left;
				 border-left:1px solid #999;
                 border-top:1px solid #999;
				 border-right:none;
				 border-bottom:none;
				 height:45px;
				 font:normal 12px/45px Arial;
                  }
.content1 table tr{
	border:none;
}

.box{
	 width:60%;
	 margin:0 auto;
	 margin-top:15px;
	 }

.content2{
	margin-left: -30%;
	width: 40%;
	float:left;
}

.content2 h3{ 
	font:blone 14px Arial;
	text-align: center;
}


article{
	    width:40%;
		border:2px solid #404040;
		float:right;
       }

.search{
	float:left;
	width:25%;
	border-radius:3px;
	margin-top:20px;
	margin-right: 20px;
	color:#000;
	text-align:center;
	height:25px;
	  }
.Search1
{

	  float:left;
	  width:25%; 
	  border-radius:3px; 
	  margin-top:-25px;
	  color:#000; 
	  text-align:center; 
	  height:25px; 
	  margin-left:35%;
	  }
.Tview{
	  float:left;
	  width:25%; 
	  border-radius:3px; 
	  margin-top:20px;
	  color:#000; 
	  text-align:center; 
	  height:25px; 
	  margin-left:60%;
	  }
	  
	  
.route
{

	  float:right;
	  width:25%; 
	  border-radius:3px; 
	  margin-top:-25px;
	  color:#000; 
	  text-align:center; 
	  height:25px; 
	  margin-right:5%;
	  }

	  
.content3{ 
	margin-left: 15%;
	width:700px;
	height:400px;
	border:1px solid #404040;
	margin-top:40px;
	max-width: 100%;
           
}

#map {
	margin: 0;
	padding: 0;
	height: 100%;
	width:100%;
	height:50%
}

.content4{ 
           float:right;
		   width:15%;
		   height:20%;
		   border:1px solid #404040;
		   margin-left:82%;
		   margin-top:-20%;
		    
           
		   }
		   



footer{    
    
    width: 100%;
    clear: both;
    display: block;
    text-align: center;	
    margin: 0 px auto;
	margin-top: 20px;
    position:absolute;
    bottom:0;
	background-color:#2D251A
	
}
#footer a:hover{text-decoration:underline;background-color:withe;}
#footer a, #footer a:visited {color:#fff; text-decoration:none;}
#legal {background-color:#63513D; clear:both; list-style-type:none; margin:20px; overflow:hidden; padding:20px 120px 20px 24px; position:relative;}	
li.first {padding-left:45%;}
li:not(#flag) {float:center; padding-right:25px;list-style-type:none;}



article{
	    width:50%;
		border:2px solid #404040;
		float:right;
       }
